<h1>About The Button</h1>
<p>
    The intention behind the Big Red Button is to create an interactive anonymous virtual button that when clicked, will collected all information about the user who clicked it in that moment and display statistics about that users click in real time to them.
</p>
<p>
    Statistical information will be driven by timeseries, and so therefore will not rely on actually needing to know who each user is, but will still be able to display information that shows their contribution to a greater population.
</p>
<p>
    Statistical information about button clicks will then be use to show which country the most clicks have come from.
</p>
<p>
    If nothing else becomes of this, perhaps it will be a fun way to educate people about internet safety. </p>
