<style>
    input{
        display: block;
    }
    input[name='userName']{
        border-top: none;
        border-right: none;
    }
    textarea{
        width:300px;
        height: 200px;
        display: block;
    }
    form{
        display: block;
    }
</style>

<form id='contactinfo' method='get' action=''>
    <h1>Contact Me</h1>
    Your Name:
    <input type='text' name='userName'>
    Your Message:
    <textarea type='text' name='message'></textarea>
    <input type='submit'>
</form>
